# Python
*.egg-info
*.egg
*.pyc
.cache
test.py
build
dist
__pycache__

# Translations
*.mo
*.dat
.idea
.DS_Store
.vscode
.pytest_cache
.coverage
.env
test.*

# Web
node_modules

# Database
db.sqlite3
