/** @format */

.echartsContainer {
  margin-top: 12px;
  canvas:hover {
    cursor: pointer;
  }
}

.demoChart {
  height: 400px;
  width: 400px;
}
.regionChart {
  height: 440px;
  width: 640px;
}

.ageChart {
  height: 300px;
  width: 650px;
}
